@model IEnumerable<Kursach.Models.Product>

@{
    ViewData["Title"] = "User Page";
    Layout = "~/Views/Shared/User.cshtml";
}

<div class="product">
    @foreach (var t in Model)
    {
        <div class="proto_border2"><img class="img2" src="@t.Photo" alt="@t.Name" /></div>
        <div class="textnearphoto">
            <h2> @t.Name </h2>
            <h2>Price: @t.Price.ToString("c")</h2>
            <p>Category: @t.Category.Name  </p>
            <p>Weight: @t.Weight gramm </p>
            <p>Artukyl: @t.Artukyl  </p>
            <p>Type: @t.Type  </p>
            <p>Description: @t.Description  </p>
            <form asp-action="AddCart" asp-controller="User">
                <input type="number" name="Count" placeholder="Count of product..." class="form-control" />
                 <input type="submit" class="butn" value="in Cart" />
                <input type="hidden" name="Id" value="@t.Id" class="form-control" />
            </form>
        </div>


    }
</div>





