@model IEnumerable<Kursach.Models.Product>

@{
    ViewData["Title"] = "Search Page";
    Layout = "~/Views/Shared/User.cshtml";
}
Search results
<p><a class="classA" href="/User/Main">Return to main page with all products</a></p>
@if (ViewBag.Products == "null")
{
    <h1>Nothing was found</h1>
}
else
{
    <div class="row mt-5 mb-2">
        @{
            foreach (var t in Model)
            {
                <div class="col-lg-4">
                    <div class="proto_border"><img class="img" src="@t.Photo" alt="@t.Name" /></div>
                    <h2> @t.Name </h2>
                    <h2>Price: @t.Price.ToString("c")</h2>
                    <h2>Category: @t.Category.Name</h2>
                    <p><a class="btn btn-success" href="/Admin/Product/@t.Id">More details...</a></p>
                </div>
            }
        }
    </div>

}
